/* Large (lg) Device */

@media (min-width: 1200px) {
  #banner .slider_arrows .slider_left_arrow,
  #banner .slider_arrows .slider_right_arrow {
    top: 53vh;
    height: 50px;
    width: 50px;
  }

  .slider_arrows i {
    line-height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
  #banner .banner_content {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Medium (md) Device */

@media (min-width: 768px) and (max-width: 991.9px) {
}

/* Small (sm) Device */

@media (min-width: 576px) and (max-width: 767.9px) {
}

@media (max-width: 1199.9px) {
  #banner .banner_content {
    text-align: center;
  }

  .home_slider {
    height: 95vh;
  }

  nav .main_menu .nav-item .nav-link,
  nav .get_started a {
    font-size: 15px;
  }
}

@media (max-width: 991.9px) {
  nav .main_menu .nav-item .nav-link {
    font-size: 16px;
  }

  #banner .slider_arrows .slider_left_arrow,
  #banner .slider_arrows .slider_right_arrow {
    height: 40px;
    width: 40px;
  }

  .slider_arrows i {
    line-height: 40px;
  }

  #banner .banner_content h1 {
    font-size: 40px;
  }

  #banner .banner_content h1 span {
    font-size: 26px;
  }

  #banner .banner_content p {
    font-size: 12px;
  }

  #counter h2 {
    font-size: 34px;
  }

  #counter h4 {
    font-size: 20px;
  }
}

@media (max-width: 767.9px) {
  #support {
    transform: translateY(-17%);
    -webkit-transform: translateY(-17%);
  }

  .support_item:not(:last-of-type) {
    border-right: 1px solid #dddddd;
  }

  .about_right a {
    font-size: 16px;
    padding: 12px 18px;
  }

  .about_left::before,
  .about_left::after {
    width: 50%;
  }

  #counter h2 {
    font-size: 26px;
  }

  #counter h4 {
    font-size: 15px;
  }
}

@media (max-width: 575.9px) {
  #support {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about_left::before,
  .about_left::after {
    width: 40%;
  }

  .about_left::after {
    right: 8px;
  }

  #counter h4 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 6px;
  }

  #counter .count_teacher,
  #counter .count_student {
    margin-bottom: 20px;
  }
}

/* Mobile Phones (Portrait Device */

@media (max-width: 479px) {
  #banner .slider_arrows .slider_left_arrow,
  #banner .slider_arrows .slider_right_arrow {
    top: 55vh;
  }
}
