/*
Name: Gyan - Education HTML Template
Author: S. M. Saifullah
Mail: shakil.m.19@gmail.com
Version: 1.0


================
Table of Content
================

Common Sections to all pages

1. Global Style
2. Header Style
3. Nav Style

Home Page Sections

4. Home Banner Style
5. Support Style
6. About Us Style


*/

/*
============
Global Style
============
*/

:root {
  --primary-color: #2d3e50;
  --secondary-color: #fbaa33;
  --text-color-1: #444444;
  --text-color-2: #666666;
  --dark-text-color-1: #222222;
  --dark-text-color-2: #212529;
  --light-text: #999999;
  --bg-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
nav,
ul,
ol {
  margin: 0;
  padding: 0;
}

.section_heading h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: var(--primary-color);
}

.section_heading p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-color-2);
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color-1);
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--dark-text-color-1);
}

h5 {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: var(--text-color-1);
}

button:focus {
  outline: transparent;
}

/*
============
Header Style
============
*/

header {
  padding: 10px 0;
  background-color: var(--primary-color);
}
header span,
header .h_left,
header .h_left a,
header .h_right a {
  font-size: 14px;
  color: #ffffff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

header .h_left span {
  margin-right: 15px;
}

header span i {
  margin-right: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

header .h_left span:hover i,
header .h_left a:hover,
header .h_right a:hover {
  color: var(--secondary-color);
}

/*
=========
Nav Style
=========
*/

nav {
  padding: 20px 0 30px !important;
}

nav .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

nav .navbar-toggler i {
  font-size: 26px;
  line-height: 26px;
}

nav .navbar-toggler:hover,
nav .navbar-toggler:focus {
  color: var(--secondary-color);
}

nav .main_menu {
  text-align: center;
}

nav .main_menu .nav-item {
  margin: 5px 20px;
}

nav .main_menu .nav-item a {
  padding-bottom: 0;
}

nav .main_menu .nav-item a {
  color: var(--primary-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

nav .main_menu .nav-item .active,
nav .main_menu .nav-item a:hover {
  color: var(--secondary-color);
}

nav .get_started {
  padding: 10px 18px;
  border-radius: 7px;
  background-color: var(--secondary-color);
  -webkit-border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

nav .get_started a {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

nav .get_started:hover {
  background-color: var(--primary-color);
}

/*
=================
Home Banner Style
=================
*/
#banner {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#banner .slide_content {
  height: 100%;
}
/*
=============
Support Style
=============
*/

/*
==============
About Us Style
==============
*/
